{% extends 'base_1.html' %}

{% block content %}
<div class="container-fluid">

          <!-- Page Heading -->
          <div class="card-body">
              <form method="POST" >
                {% csrf_token %}
                <h6 class="heading-small text-muted mb-4">Add Flat</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-firstname">First Name </label>
                        {% if flat %}
                        <input type="text" id="input-firstname" class="form-control" name=firstname placeholder="First Name" value="{{flat.user.first_name}}" required>
                        {% else %}
                        <input type="text" id="input-firstname" class="form-control" name=firstname placeholder="First Name" value="" required>
                        {% endif %}
                      </div>
                    </div>
                       <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-lastname">Last Name </label>
                         {% if flat %}
                        <input type="text" id="input-lastname" class="form-control" name=lastname placeholder="Last Name" value="{{flat.user.last_name}}" required>
                        {% else %}
                        <input type="text" id="input-lastname" class="form-control" name=lastname placeholder="Last Name" value="" required>
                        {% endif %}
                      </div>
                    </div>
                      <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email </label>
                        {% if flat %}
                          <input type="email" id="input-email" class="form-control" name=email placeholder="Email" value="{{flat.user.email}}">
                        {% else %}
                        <input type="email" id="input-email" class="form-control" name=email placeholder="Email" value="">
                        {% endif %}
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                    <label class="form-control-label" for="input-mobno">Mob.NO </label>
                        {% if flat %}
                          <input type="tel" id="phone" class="form-control" name="phone"  placeholder="mob no." value="{{flat.mob_no}}" pattern="[0-9]{10}" required>
                        {% else %}
                        <input type="tel" id="phone" class="form-control" name="phone"  placeholder="mob no." pattern="[0-9]{10}" required>
                        {% endif %}
                    </div>
                  </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-flatno">Flat NO.</label>
                        {% if flat %}
                        <input type="text" id="input-flatno" class="form-control" name=flatno  value="{{flat.flat_no}}" placeholder="flatno" required>
                        {% else %}
                        <input type="text" id="input-flatno" class="form-control" name=flatno placeholder="flatno" required>
                        {% endif %}
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-flatarea">Area.</label>
                        {% if flat %}
                        <input type="text" id="input-flatarea" class="form-control" name=sqft value="{{flat.area_sqft}}" placeholder="Area in Sq.ft" required>
                        {% else %}
                        <input type="text" id="input-flatarea" class="form-control" name=sqft placeholder="Area in Sq.ft" required>
                        {% endif %}
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-Cars">Cars</label>
                        {% if flat %}
                        <input type="number" id="input-Cars" class="form-control" name=cars placeholder="Total Cars" value="{{flat.cars}}" min="0" required>
                        {% else %}
                        <input type="number" id="input-Cars" class="form-control" name=cars placeholder="Total Cars" value="" min="0" required>
                        {% endif %}
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-bikes">Bikes</label>
                        {% if flat %}
                        <input type="number" id="input-bikes" class="form-control" name=bikes placeholder="Total bikes" value="{{flat.bike}}" min="0" required>
                        {% else %}
                         <input type="number" id="input-bikes" class="form-control" name=bikes placeholder="Total bikes" value="" min="0" required>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-right">
                      <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
              </form>
            </div>

        </div>
{% endblock content %}