{% extends 'base_1.html' %}

{% block content %}
<div class="container-fluid">

          <!-- Page Heading -->
          <div class="card-body">
              <form method="POST" >
                {% csrf_token %}
                <h6 class="heading-small text-muted mb-4">Send Notice</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-subject">Subject</label>
                         <input type="text" id="input-subject" class="form-control" name=subject placeholder=" subject" value=""  required>
                      </div>
                    </div>
                      <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-complain">Notice</label>
                          <textarea class="form-control" rows="5" id="input-complain" name=notice placeholder="Notice" value=""></textarea>
                      </div>
                    </div>
                      <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-select">Select Flat</label>
                         <select class="mdb-select md-form form-control"  name="to" id="input-select" multiple>
                             {% for flat in allflats %}
  <option value="{{flat.id}}">{{flat.flat_no}}</option>
                             {% endfor %}
</select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-right">
                      <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
              </form>
            </div>

        </div>
{% endblock content %}