{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

          <!-- Page Heading -->
          <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                       <th>item</th>
                      <th>rate</th>
                      <th>qty</th>
                      <th>total</th>
                    </tr>
                  </thead>
                    <tbody>
                    <tr>
                        <td>Area wise Cost</td>
                        <td>{{rates.persqft}} Rs/sqft</td>
                        <td>area {{flat.area_sqft}} sqft</td>
                        <td>{{bill.maintainance}} Rs</td>
                    </tr>
                    <tr>
                        <td>Water Cost</td>
                        <td>{{rates.water}} Rs</td>
                        <td>-</td>
                        <td>{{bill.water}} Rs</td>
                    </tr>
                    <tr>
                        <td>Car Parking Cost</td>
                        <td>{{rates.percar}} Rs/car</td>
                        <td>{{flat.cars}} Cars</td>
                        <td>{{bill.carparking}} Rs</td>
                    </tr>
                    <tr>
                        <td>bike Parking Cost</td>
                        <td>{{rates.perbike}} Rs/bike</td>
                        <td>{{flat.bike}} bikes</td>
                        <td>{{bill.bikeparking}} Rs</td>
                    </tr>
                    <tr>
                        <td>Fine</td>
                        <td>{{rates.penelty}} </td>
                        <td>-</td>
                        <td>{{bill.fine}} Rs</td>
                    </tr>
                    <tr>
                        <td colspan="3">Total</td>
                        <td colspan="3">{{bill.total}} RS</td>
                    </tr>
                    </tbody>
                </table>
              </div>
              <form method="POST" >
                {% csrf_token %}
                <h6 class="heading-small text-muted mb-4">View & pay</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-utr">UTR NO.</label>
                         <input type="text" id="input-utr" class="form-control" name=utr placeholder="Utr no obtained after bill payment" value=""  required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-right">
                      <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
              </form>
            </div>

        </div>
{% endblock content %}