{% extends 'base.html' %}

{% block content %}

 <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary"> My bills</h6>
            </div>

              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                       <th>bil Date</th>
                      <th>Flat No.</th>
                      <th>Satus</th>
                      <th>View&Pay</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>bil Date</th>
                      <th>Flat No.</th>
                      <th>Satus</th>
                      <th>View&Pay</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for bill in bills %}
                    <tr>
                      <td>{{bill.date}}</td>
                      <td>{{bill.flat.flat_no}}</td>
                        {% if bill.paid %}
                      <td>Paid</td>
                      <td>-</td>
                        {% else %}
                        <td>Unpaid</td>
                        {% if bill.utrno is None %}
                        <td><a href="{% url 'viewandpay' bill.id %}" class='btn btn-primary'>View&pay</a></td>
                        {% else %}
                        <td>approval Pending</td>
                        {% endif %}
                      {% endif %}
                    </tr>
                   {% endfor %}
                  </tbody>
                </table>
                  {% if bills.has_other_pages %}
  <ul class="pagination">
    {% if bills.has_previous %}
      <li><a href="?page={{ bills.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if bills.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if bills.has_next %}
      <li><a href="?page={{ bills.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
              </div>
            </div>
          </div>
{% endblock content %}