{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

          <!-- Page Heading -->
          <div class="card-body">
              <form method="POST" >
                {% csrf_token %}
                <h6 class="heading-small text-muted mb-4">Complain</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-subject">Subject</label>
                         <input type="text" id="input-subject" class="form-control" name=subject placeholder="Complain subject" value=""  required>
                      </div>
                    </div>
                      <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-complain">Complain</label>
                          <textarea class="form-control" rows="5" id="input-complain" name=complain placeholder="Complain" value=""></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-right">
                      <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
              </form>
            </div>

        </div>
{% endblock content %}