{% extends 'base.html' %}

{% block content %}

 <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary"> Complains</h6>
            </div>
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Subject</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                       <th>Date</th>
                      <th>Subject</th>
                      <th>Status</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for complain in complains %}
                    <tr>
                      <td>{{complain.date}}</td>
                      <td>{{complain.subject}}</td>
                        {% if complain.closed %}
                      <td>Addressed</td>
                        {% else %}
                        <td>Unaddressed</td>
                        {% endif %}
                    </tr>
                   {% endfor %}
                  </tbody>
                </table>
                  {% if complains.has_other_pages %}
  <ul class="pagination">
    {% if complains.has_previous %}
      <li><a href="?page={{ complains.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in complains.paginator.page_range %}
      {% if complains.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if complains.has_next %}
      <li><a href="?page={{ complains.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
              </div>
            </div>
          </div>
{% endblock content %}