{% extends 'base_1.html' %}

{% block content %}

 <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary"> Complains</h6>
            </div>
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Date</th>
                        <th>Made BY</th>
                      <th>Subject</th>
                      <th>Read</th>
                        <th>close</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                       <th>Date</th>
                        <th>Made BY</th>
                      <th>Subject</th>
                      <th>Read</th>
                        <th>close</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for complain in complains %}
                    <tr>
                      <td>{{complain.date}}</td>
                        <td>{{complain.madeby.first_name}}</td>
                      <td>{{complain.subject}}</td>
                        <td><a href="javascript:void({{ complain.id }});" data-href="{% url 'read' complain.id %}" class="btn btn-sm btn-primary openPopup">Read Complain</a></td>
                        <td><a href="{% url 'closecomplain' complain.id %}" class="btn btn-sm btn-primary">Close</a></td>
                    </tr>
                   {% endfor %}
                  </tbody>
                </table>
                  {% if complains.has_other_pages %}
  <ul class="pagination">
    {% if complains.has_previous %}
      <li><a href="?page={{ complains.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in complains.paginator.page_range %}
      {% if complains.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if complains.has_next %}
      <li><a href="?page={{ complains.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
              </div>
     <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
            </div>
          </div>
{% endblock content %}