{% extends 'base_1.html' %}

{% block content %}

 <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary"> Flat Listing</h6>
            </div>
            <div class="card-body">
                {% if messages %}
        {% for message in messages %}

        <div class="alert alert-warning" role="alert" style=" margin-left: 30%; margin-right: 30%;">
        <strong>{{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
        </div>
        {% endfor %}
        {% endif %}
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Owner</th>
                      <th>Flat No.</th>
                      <th>Mob.No</th>
                      <th>Gen.Bill</th>
                     <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Owner</th>
                      <th>Flat No.</th>
                      <th>Mob.No</th>
                      <th>Gen.Bill</th>
                     <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for member in members %}
                    <tr>
                      <td>{{member.user.first_name}}</td>
                      <td>{{member.flat_no}}</td>
                      <td>{{member.mob_no}}</td>
                      <td><a href="{% url 'genbill' member.id %}" class='btn btn-primary'>Gen.Bill</a></td>
                      <td><a href="{% url 'editflat' member.id %}" class='btn btn-primary'>Edit</a></td>
                      <td><a href="{% url 'delete' member.id %}" class='btn btn-primary'>delete</a></td>
                    </tr>
                   {% endfor %}
                  </tbody>
                </table>
                  {% if members.has_other_pages %}
  <ul class="pagination">
    {% if members.has_previous %}
      <li><a href="?page={{ members.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in members.paginator.page_range %}
      {% if members.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if members.has_next %}
      <li><a href="?page={{ members.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
              </div>
            </div>
          </div>
{% endblock content %}